{% extends "base.html" %}

{% block title %} About {% endblock title %}

{% block content %}
    <div style="background-color: #1B1A55; padding: 20px; border-radius: 10px; margin-top: 56px;">
        <div style="color: #9290C3; font-style: bold; font-size: 3rem;">Inventory Management Automation</div>
        <div style="color: #fff;">Team Members: Harsh Bhagat, Thasmina Hussain, Ali Jasem, and Tarek Silmi</div>
        <div style="color: #fff;">Team Lead: Harsh Bhagat</div>
    </div>
    
    <div style="background-color: #1B1A55; padding: 20px; border-radius: 10px; margin-top: 20px;">
        <p style="color: #fff;">
            The Inventory Management Automation System will be developed as a standalone application, either as a mobile app or web app. It will interface with existing systems for data import/export and integrate with barcode scanners for inventory tracking.
        </p>
        <p style="color: #fff;">
            Product Functions:
        </p>
        <ul style="color: #fff;">
            <li>Inventory tracking and management</li>
            <li>Order processing and fulfillment</li>
            <li>Real-time reporting and analytics</li>
            <li>ManageSuppliers</li>
            <li>ManageUsers</li>
            <li>ManageProducts</li>
            <li>ManageOrders</li>
            <li>ManageSales</li>
            <li>ViewReports</li>
            <li>Adjust Inventory</li>
        </ul>
    </div>
{% endblock content %}
