{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <title>Auto Inventory - Login</title>
    <style>
        body {
            overflow-x: hidden;
        }
        .centered {
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .btn-group .btn {
            margin-right: 5px;
        }
        form input[type="text"],
        form input[type="password"],
        form input[type="email"],
        form select {
            background-color: #1b1a55;
            color: #fff;
        }
    </style>

</head>

<body>
    <div class="container">
        {% if messages %}
        <div>
            {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-success{% endif %}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="align-middle" style="color: #9290C3; font-style: bold; font-size: 3rem;">Auto Inventory</div>
        <div class="align-middle" style="color: #fff">Inventory Management Automation</div>
        <br><br><br>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                {% if user.is_authenticated %}
                <br><br>
                <h2 class="align-middle">You are already logged in, {{ request.user.username }}!</h2>
                <div class="border-top pt-3 align-middle"> <br>
                    <a class="btn ghost-blue" href="{% url 'home' %}">Go back home</a> <br><br>
                    <a class="btn ghost-red" href="{% url 'logout' %}">Log Out</a>
                </div>
                {% else %}
                <div class="content-section">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <div class="align-middle">
                                <legend class="border-bottom mb-4">Please Login to use Auto Inventory</legend>
                            </div>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <div class="align-middle">
                                <button class="ghost-pink" type="submit">Log In</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="align-middle">
                    <div class="btn-group" role="group" aria-label="Button group">
                        <a href="{% url 'about' %}" class="btn ghost-blue">About</a>
                        <a href="{% url 'register' %}" class="btn ghost-blue">Create Account</a>
                        <a href="{% url 'forgot-password' %}" class="btn ghost-blue">Forgot Password</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="{% static 'bootstrap/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
</body>
</html>
