{% extends "base.html" %}

{% block title %} Coming Soon {% endblock title %}

{% block content %}
    <div style="background-color: #1B1A55; padding: 20px; border-radius: 10px;">
        <div style="color: #9290C3; font-style: bold; font-size: 3rem;">Coming Soon</div>
        <div style="color: #fff;">Stay tuned for updates!</div>
    </div>
    
    <div style="background-color: #1B1A55; padding: 20px; border-radius: 10px; margin-top: 20px;">
        <p style="color: #fff;">
            We're working hard to bring you something amazing. Check back soon for more information!
        </p>
        <p style="color: #fff; margin-top: 20px;">
            Regards,<br>
            Harsh Bhagat, Thasmina Hussain, Ali Jasem, and Tarek Silmi
        </p>
    </div>
{% endblock content %}
